* {
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
    height: 100px;
    width: 400px;
    background-color: #141f40;
}

.contents {
    margin: 0 auto;
    width: 400px;
}
.clearfix::after {
    content:'';
    display: block;
    clear: both;
}
.left {
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
    float: left;
}
.right {
    float: right;
}
.right-upper-left {
    float: left;
}
.right-upper-left-upper {
    height: 50px;
    width: 150px;
    background-color: #dbd400;
}
.right-upper-left-lower {
    height: 100px;
    width: 150px;
    background-color: #0093b7;
}
.right-upper-right {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: right;
}
.right-lower {
    height: 100px;
    width: 250px;
    background-color: #8c2727;
}

footer {
    margin: 0 auto;
    height: 100px;
    width: 400px;
    background-color: #d98d30;
}