* {
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.contents {
    margin: 0 auto;
    width: 400px;
}
.left {
    float: left;
}
.left-upper-left {
    float: left;
    height: 150px;
    width: 100px;
    background-color: #dbd403;
}
.left-upper-right {
    float: right;
}
.left-upper-right-upper {
    height: 50px;
    width: 150px;
    background-color: #8c2727;
}
.left-upper-right-lower {
    height: 100px;
    width: 150px;
    background-color: #ff9e6b;
}
.left-lower {
    height: 100px;
    width: 250px;
    background-color: #0093b7;
}
.right {
    float: right;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

footer {
    margin: 0 auto;
    height: 100px;
    width: 400px;
    background-color: #d98d30;
}